<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>{assigns[:page_title] || "mcl-whiteboard"}</title>
    <link rel="stylesheet" href={"/assets/app.css?v=" <> MclWhiteboardWeb.BuildInfo.asset_version()} />
  </head>
  <body>
    {@inner_content}
    <script defer src={"/assets/app.js?v=" <> MclWhiteboardWeb.BuildInfo.asset_version()}>
    </script>
  </body>
</html>
